# OS-specific files
.DS_Store

# IDE-specific files
.idea
.vscode

# Terraform files
.terraform
.terraform.lock.hcl
*.tfstate
# Auto-created folder for checkov pre-commit hook testing tool
.external_modules
